@import 'styles/variables';

.ScoreBoard {
  h2 {
    margin-bottom: $spacing-small;
  }

  &__GridItem {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: $spacing-regular;
    }
  }
}
