@import 'styles/variables';

.PlayersList {
  h2 {
    margin-bottom: $spacing-large;
  }

  &__Grid {
    display: flex;
    flex-wrap: wrap;
  }

  &__GridItem {
    width: 45%;

    &:nth-child(n + 3) {
      margin-top: $spacing-regular;
    }
  }
}