@import 'styles/variables';
@import 'styles/helpers';

.Radio {
  display: block;
  position: relative;

  &__Label {
    color: $color-black;
    padding-left: $spacing-large;
  }

  &__Input + &__Label::before {
    background: $color-black-30;
    border-radius: 50%;
    content: '';
    height: $spacing-regular;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background $transition-duration-regular;
    width: $spacing-regular;
  }

  &__Input:checked + &__Label::before {
    background: $color-primary;
  }

  &__Input:checked + &__Label::after {
    background: $color-white;
    border-radius: 50%;
    content: '';
    height: $spacing-small;
    left: $spacing-smaller;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $spacing-small;
  }

  &__Input:focus + &__Label::before {
    @include focusStyles();
  }
}
