@import 'styles/variables';

.Player {
  align-items: center;
  display: flex;

  &__Avatar {
    background: $color-primary;
    border-radius: $radius-regular;
    height: $spacing-large;
    margin-right: $spacing-regular;
    position: relative;
    width: $spacing-large;
  }

  &__Badge {
    background: $color-black;
    border-radius: 50%;
    position: absolute;
    top: calc(#{$spacing-small} / -2);
    right: calc(#{$spacing-small} / -2);
    height: $spacing-small;
    width: $spacing-small;
  }
}
