@import 'styles/variables';

.CardPile {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: $base-spacing * 34;
  height: $base-spacing * 46;

  &__Card {
    position: absolute;
  }

  .card-animation {
    &-enter,
    &-appear {
      opacity: 0;
      transform: scale(2);
    }

    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity $transition-duration-regular,
        transform $transition-duration-regular;
    }
  }
}
