@import 'styles/variables';

.Button {
  background: $color-primary;
  border: $border-regular solid $color-primary;
  border-radius: $radius-regular;
  color: $color-white;
  cursor: pointer;
  display: block;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  padding: $spacing-regular $spacing-small;
  width: 100%;

  &:hover {
    background: darken($color-primary, 5%);
  }

  &:disabled {
    color: $color-text-disabled;
    border-color: $color-grey;
    cursor: not-allowed;
  }

  &--Small {
    font-size: $font-size-small;
    padding: $spacing-small;
    width: auto;
  }
}
