@import 'styles/variables';

.Button {
  background: $color-white;
  border: $color-black solid 1px;
  border-radius: $radius-regular;
  color: $color-black;
  display: block;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  padding: $spacing-regular $spacing-small;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &--Primary {
    background: $color-primary;
    border-color: $color-primary;
  }
}
