@import 'styles/variables';

.BaseLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: $spacing-regular;

  &__Header {
    margin-bottom: $spacing-large;
  }

  &__Content {
    margin-bottom: $spacing-larger;
  }

  &__Footer {
    margin-top: auto;
  }
}
