@import 'styles/variables';
@import 'styles/helpers';

body {
  background: url('../images/backgound.png');
  background-size: 4rem;

  @include desktop {
    padding: $spacing-regular;
  }
}

.BaseLayout {
  background: $color-white;
  display: flex;
  flex-direction: column;
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  min-height: 100vh;
  padding: $spacing-regular;
  border: $border-regular solid lightgrey;

  @include desktop {
    border-radius: $radius-regular;
    min-height: calc(100vh - #{$spacing-large});
    padding: $spacing-large;
  }

  &__Header {
    margin-bottom: $spacing-regular;
  }

  &__Content {
    margin-bottom: $spacing-larger;
  }

  &__Footer {
    margin-top: auto;
  }
}
