@import 'styles/variables';
@import 'styles/helpers';

.Podium {
  &__Result {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__Emoji {
    font-size: $font-size-larger;

    &:first-of-type {
      margin-right: $spacing-small;
    }

    &:last-of-type {
      margin-left: $spacing-small;
    }
  }
}
