$background-color: white;
$background-color-primary: green;

.Button {
  border: 2px solid black;
  background-color: $background-color;
  cursor: pointer;
  min-height: 40px;
  padding: 0 16px;

  &:active {
    background-color: darken($background-color, 10%);
  }

  &-primary {
    background-color: $background-color-primary;
    color: white;

    &:active {
      background-color: darken($background-color-primary, 10%);
    }
  }
}
