@import 'styles/variables';

.GameList {
  &__List {
    padding: 0 0 0 $spacing-regular;
  }

  &__Item {
    margin-top: $spacing-regular;
    position: relative;

    &::before {
      color: $color-primary;
      content: '•';
      left: -$spacing-regular;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
