@import 'styles/variables';
@import 'styles/helpers';

.Header {
  align-items: center;
  display: flex;

  &__Icon {
    border-radius: $radius-regular;
    height: $base-spacing * 6;
    margin-right: $spacing-regular;
    object-fit: cover;
    width: $base-spacing * 6;
  }
}
