@import 'styles/variables';
@import 'styles/helpers';

.Header {
  &__Link {
    align-items: center;
    display: inline-flex;
    text-decoration: none;
  }

  &__Icon {
    border-radius: $radius-regular;
    height: $base-spacing * 6;
    margin-right: $spacing-regular;
    object-fit: cover;
    width: $base-spacing * 6;
  }
}
