[type='number'] {
  border: $border-regular solid $color-black-30;
  border-radius: $radius-regular;
  margin: 0;
  padding: $spacing-smaller $spacing-small;
  transition: border-color $transition-duration-regular;

  &:focus {
    border-color: $color-primary;
  }
}
