// Mobile related styles
@mixin mobile {
  @media (max-width: 700px) {
    @content;
  }
}

// Custom focus styles
@mixin focusStyles {
  outline: 0;
  box-shadow: 0 0 0 0.2rem $color-primary-70;
  transition: all $transition-duration-regular;
}

// Apply focus styles
*:focus {
  @include focusStyles();
}

// Visually hide element
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
