body {
  color: $color-black;
  font-family: $font-family-regular;
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
}

h1 {
  font-size: $font-size-larger;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: $font-size-large;
  font-weight: $font-weight-medium;
}

label,
legend {
  color: $color-black-70;
  font-size: $font-size-regular;
  font-weight: $font-weight-medium;
}

a {
  color: inherit;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: $color-primary;
  }
}
