body {
  color: $color-black;
  font-family: $font-family-regular;
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
}

h1 {
  font-size: $font-size-larger;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: $font-size-large;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-small;
}

label,
legend {
  color: $color-black-70;
  display: inline-block;
  font-size: $font-size-regular;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-small;
}

a {
  color: inherit;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: $color-primary;
  }
}

.subtitle {
  font-size: $font-size-medium;
  margin-bottom: $spacing-regular;
}

ul.list {
  padding: 0 0 0 $spacing-regular;

  li {
    margin-top: $spacing-regular;
    position: relative;

    &::before {
      color: $color-primary;
      content: '•';
      left: -$spacing-regular;
      position: absolute;
      top: 0;
    }
  }
}
