$base-spacing: 0.5rem;

$spacing-smaller: $base-spacing / 2;
$spacing-small: $base-spacing;
$spacing-regular: $base-spacing * 2;
$spacing-large: $base-spacing * 4;
$spacing-larger: $base-spacing * 8;

$color-primary: #c03838;
$color-primary-70: rgba($color-primary, 0.7);
$color-white: #ffffff;
$color-black: #050505;
$color-black-70: rgba($color-black, 0.7);
$color-black-30: rgba($color-black, 0.3);

$radius-regular: 0.3125rem;

$border-regular: 0.0625rem;
$border-large: $border-regular * 4;

$font-family-regular: Roboto, Arial, sans-serif;

$font-size-small: 0.875rem;
$font-size-regular: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.75rem;
$font-size-larger: 2rem;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$box-shadow: 0 0 $base-spacing $color-black;

$transition-duration-regular: 0.25s;

$breakpoint-mobile: $base-spacing * 45;
